
p {
  color: #282c34;
  size: 24px;
}


.App {
  text-align: center;
}
.App-header {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border: 25px solid #282c34;
  min-width: fit-content;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 20px;
}


.Card {
  min-width: 2.5vw;
  min-height: 3.5vh;
  width: 2.5in;
  height: 3.5in;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 5mm; 
  
}
.CardSuitsTop {
  width: 40px;
  height: 40px;  
  transform: translate(-5px, 0px);
}
.CardSuitsBot {
  width: 40px;
  height: 40px;
  transform: translate(5px, 0px);
}
.CardTextTop {
  font-size: 25px;
  width: 100%; 
  text-align: left;
  position: absolute;
  top: 0px;
  transform: translate(10%, 0px);
} 
.CardTextBot{
  font-size: 25px;
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 0px;
  transform: translate(-10%, 0px);
}
.CardButton {
  display: flex;
  min-width: 2.5in;
  min-height: 3.5in;
  width: 2.5in;
  height: 3.5in;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 5mm; 
} 
.CardButton:hover {
  background-color: rgb(147, 198, 214);
}
.cardtagText {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  transform: translate(10%, 0px);

}



.options {
  display:  flex;
  flex-direction: row;
  gap: 20px;

}

.currcards {
  display:  flex;
  flex-direction: row;
  gap: 20px;


}